body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.books{
  margin: 15px;
  display: flex;
  flex-wrap: wrap; 
  gap: 15px;
}
.book{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.book div{
  font-weight: 700;
}
.cover{
  height: 200px;
  width: 120px;
  object-fit: cover; 
  background-color: aqua;
}
.add{
height: 200px;
width: 120px;
object-fit: cover; 
background-color: aqua;
display: flex;
justify-content: center;
align-items: center;
font-size: 100px;
font-weight: 700;
text-decoration: none;
color: azure;
}